# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.cache
.pnp.js


# testing
coverage/

# next.js
.next/
out/
next-env.d.ts

# production
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
# do not commit any .env files to git, except for the .env.example file.
.env
.env*.local
!packages/database/.env

# vercel
.vercel

# typescript
*.tsbuildinfo

# turbo
.turbo

# supabase
.branches
.temp

# chrome extension
apps/extension/utils/reload/**/*.js