:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #f87171;
}

.Toastify__toast-container {
  width: 100%;
  max-width: 30rem;
}

.Toastify__toast-icon {
  width: 18px;
  height: 18px;
}

.Toastify__toast-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin: 0;
}

.Toastify__toast--error {
  background-color: #fef2f2;
  color: #991b1b;
}

.Toastify__toast--error .Toastify__close-button > svg {
  fill: #7f1d1d;
}
